@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.list-container::-webkit-scrollbar {
  display: none;
}
.list li {
  list-style: none;
  font-size: 17px;
}
.edit{
  height: 18px;
}
.delete{
  height: 18px;
}

@media (max-width: 480px) {
  .list li{
    font-size: 13px;
  }
  .edit{
  height: 15px;
}
.delete{
  height: 15px;
}
}
