* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.form {
  width: 350px;
}

.field {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}