* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  width: 400px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.task-input {
  flex: 1;
  padding: 10px;
}

.add-btn {
  padding: 10px 20px;
  cursor: pointer;
}

.task-list {
  margin-top: 20px;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: red;
  padding: 3px;
  border: none;
  border-radius: 5px;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
