* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-btn {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
}